*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
#home{
    height: 100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/assets/h_bg.jpg");
    background-size: cover;
    color: white;
    text-align: center;
}
.twisted{
    text-align: left;
    font-family: 'Hurricane', cursive;
    font-size: 70px;
}
.twisted span{
    color: #DD1C1C;
    font-family: 'Hurricane', cursive;
}
h1{
    margin-top: 10%;
    font-size: 80px;
    font-weight: 600;
}
#home p{
    font-size: 40px;
}
#home a{
    color: white;
    background-color: rgb(221, 28, 28);
    padding: 1%;
    border-radius: 30px;
    margin-top: 7%;
}
#home a:hover, button:hover{
    transition: 0.5s ease;
    transform: scale(1.2);
}
.order, .location, .delivery, .pick-up{
    display: none;
}
#about{
    background-color: #FAF3F3;
    padding: 3% 0 3% 0;
    font-weight: bold;
}
#about p:last-child , #about p:first-child{
    color: #DD1C1C;
    font-size: larger;
}
#our-pizza{
    background: url("/assets/our_p.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 3% 0 5% 0;
}
#our-pizza img{
    margin: 5% 0 5% 0;
}
.titles{
    text-align: center;
    font-weight: 600;
    font-size: xx-large;
}
.titles span{
    color: #DD1C1C;
    font-size: x-large;
}
#order{
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/assets/pablo-pacheco-D3Mag4BKqns-unsplash.jpg");
    background-size: cover;
    padding: 3% 0 5% 0;
    color: #FAF3F3;
}
.order-red{
    background-color: rgba(219, 35, 35, 0.64);
    padding: 7%;
}
.order-red button{
    padding: 2%;
    margin: 3% 0 3% 0;
    border:#FAF3F3 2px solid;
    background-color: transparent;
    color: #FAF3F3;
    
}
#p-order{
    position: relative;
    left: 30%;
}
.form-check-input, .form-select, form input{
    background-color: transparent;
    border: #FAF3F3 1px solid;
}
.form-select option {
    background-color: #FAF3F3 !important;
    color: #DD1C1C !important;
  }
  .form-check-input:checked{
    background-color: #FAF3F3;
  }
  .summary{
      background-color: #FAF3F3;
      margin-top: 15%;
  }
  .summary h3{
      color: #DD1C1C;
      margin-top: 4%;
      text-align: center;
  }
